<!-- DOCTYPE html-->  
<html>  
<head>  
    <title>{% block title %} Bootstrap 101 Template {% endblock %}</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  
    {% block stylesheets %}  
        {% stylesheets '@bootstrap_less' combine=true %}  
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet">  
            <link href="{{ asset('bundles/app/css/animate.css') }}" type="text/css" rel="stylesheet">  
            <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">  
            <link href="{{ asset('bundles/app/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet">  
            <link href="{{ asset('bundles/app/css/jquery.fancybox.css') }}" type="text/css" rel="stylesheet">  
            <link href="{{ asset('bundles/app/css/jquery.fs.boxer.css') }}" type="text/css" rel="stylesheet">  
            <link href="{{ asset('bundles/app/css/lightview.css') }}" type="text/css" rel="stylesheet">  
            <link href="{{ asset('bundles/app/css/main.css') }}" type="text/css" rel="stylesheet">  
            <link href="{{ asset('bundles/app/css/owl.carousel.css') }}" type="text/css" rel="stylesheet">  
            <link href="{{ asset('bundles/app/css/slit-slider.css') }}" type="text/css" rel="stylesheet">  
            <link href="{{ asset('bundles/app/css/superslides.css') }}" type="text/css" rel="stylesheet">  
        {% endstylesheets %}  
    {% endblock %}  

</head>  
<body id="body">  
    <div id="preloader">
        <div class="loder-box">
            <div class="battery"></div>
        </div>
    </div>
    <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
                <div class="container">
                    <div class="navbar-header">
                        <!-- responsive nav button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- /responsive nav button -->
                        
                        <!-- logo -->
                        <h1 class="navbar-brand">
                            <a href="#body">Blue</a>
                        </h1>
                        <!-- /logo -->
                    </div>

                    <!-- main nav -->
                    <nav class="collapse navbar-collapse navbar-right" role="navigation">
                        <ul id="nav" class="nav navbar-nav">
                            <li><a href="#body">Home</a></li>
                            <li><a href="#service">Service</a></li>
                            <li><a href="#portfolio">portfolio</a></li>
                            <li><a href="#testimonials">Testimonial</a></li>
                            <li><a href="#price">price</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </nav>
                    <!-- /main nav -->
                    
                </div>
            </header>
    {% block myBody %}  
    
    {% endblock %}  
  
    {% block javascripts %}  
        {% javascripts '@jquery_js' '@bootstrap_js' filter='?yui_js' combine=true %}  
            <script src="{{ asset_url }}"></script>  
            <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>  
            <script src="{{ asset('bundles/app/js/jquery.ba-cond.min.js') }}"></script>  
            <script src="{{ asset('bundles/app/js/jquery.easing.min.js') }}"></script>  
            <script src="{{ asset('bundles/app/js/jquery.parallax-1.1.3.js') }}"></script>  
            <script src="{{ asset('bundles/app/js/jquery.singlePageNav.min.js') }}"></script>  
            <script src="{{ asset('bundles/app/js/jquery.slitslider.js') }}"></script>  
            <script src="{{ asset('bundles/app/js/jquery-1.11.1.js') }}"></script>  
            <script src="{{ asset('bundles/app/js/main.js') }}"></script>  
            <script src="{{ asset('bundles/app/js/modernizr-2.6.2.min.js') }}"></script>  
            <script src="{{ asset('bundles/app/js/owl.carousel.min.js') }}"></script>  
            <script src="{{ asset('bundles/app/js/wow.min.js') }}"></script>  
        {% endjavascripts %}  
    {% endblock %}  
</body>  
</html>  
